<div class="row">
  <app-nav></app-nav>
  <div class="col-2">
  </div>
  <div class="col">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Registrar Estudiante</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Id Persona" formControlName="firstName"
                  [(ngModel)]="Estudiante.id_persona">
                <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                  First name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha de Ingreso" formControlName="lastName"
                  [(ngModel)]="Estudiante.fecha_ingreso">
                <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                  Last name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Carnet" formControlName="city" [(ngModel)]="Estudiante.carnet">
                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Status" formControlName="status" [(ngModel)]="Estudiante.statuss">
                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions>
          
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-success" type="submit" (click)="agregar()">Guardar</button>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-danger" type="submit" (click)="Oneliminar(Estudiante.id_persona)">Eliminar Registro</button>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-info" type="submit" (click)="Onestudiante()">Mostrar Tabla</button>
    </div>
  </div>
</div>