<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a class="dropdown-item" (click)="Oninicio()">Inicio</a>
      <a class="dropdown-item" (click)="Onpersona()">Persona</a>
      <a class="dropdown-item" (click)="Onestudiante()">Estudiante</a>
      <a class="dropdown-item" (click)="Ondocente()">Docente</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row">
        <div class="col-8">
          <span>ANGULAR-MATERIAL MANTENIMIENTOS</span>
        </div>
        <div class="col-4">
          <ng-container *ngIf="!logedIn(); else elseTemplate">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-success" (click)="Onlogin()">Login</button>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-success" (click)="Oningresar()">Salir</button>
            </div>
          </ng-template>
        </div>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>