<div class="row">
  <app-nav></app-nav>
  <div class="col-2">
  </div>
  <div class="col">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Registrar Curso Docente</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Id de Docente" formControlName="firstName" [(ngModel)]="Curso.id_docente">
                <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                  Id de Docente is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Id de curso" formControlName="lastName" [(ngModel)]="Curso.id_curso">
                <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                  Id de curso <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Status" formControlName="city"
                  [(ngModel)]="Curso.stauts">
                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                  Status is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha de Inicio" formControlName="direccion" [(ngModel)]="Curso.fecha_inicio">
                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                  Fecha de Inicio is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Fecha de Fin" formControlName="direccion1" [(ngModel)]="Curso.fecha_fin">
                <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                  Fecha de Fin is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions>
       
        </mat-card-actions>
      </mat-card>
    </form>

  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-success" type="submit" (click)="agregar()">Guardar</button>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-danger" type="submit" (click)="Oneliminar(Curso.id_docente)">Eliminar Registro</button>
    </div>
    <div class="col-2">
      <button mat-raised-button class="btn btn-info" type="submit" (click)="Onpersona()">Mostrar Tabla</button>
    </div>
  </div>
</div>